main {
    display: grid;
    justify-items: center;
    box-sizing: border-box;
    grid-gap: 20px;
    grid-auto-rows: max-content;
    padding: 20px;
    grid : 't' max-content
           'd' auto
           'c';
    width: 100%;
    grid-area: m;
}
.desk {
    display: grid;
    grid-template-columns: repeat(8, 64px);
    grid-template-rows: repeat(8, 64px);
    border: solid black;
    width: 512px;
    height: 512px;
}
.cell {
    width: 64px;
    height: 64px;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whites {
    color: white;
}
.blacks {
    color: black;
}
.black {
    background-color: #492D27;
}
.white {
    background-color: #D7CF9E;
}
.timer {
    grid-area: t;
    font-size: 24px;
    line-height: 28px;
}
.figure {
    background-color: transparent;
}
